.main-chat
  .header
    .header__left
      .header__left--name
        =@group.name
      .header__left--member
        .ul
          .list
          Member:
          .list
          -@group.group_users.each do |group_user|
            =group_user.user.name
           
    .header__right
      = link_to 'Edit', edit_group_path(@group.id),class: "edit"

  .message__list
    = render @messages
    

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image--file'
      = f.submit 'Send', class: 'form__submit'
