.main-chat
  .header
    .header__left
      .header__left--name
        グループ名
      .header__left--member
        メンバー名
    .header__right
      = link_to 'Edit', '#',class: "edit"

  .message__list
    = render @messages
    

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image--file'
      = f.submit 'Send', class: 'submit-btn'
